.inputContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: #fcfcfc;
  height: 4rem;
  width: 92.6%;
  padding-left: 1rem;
  border-radius: 6px;
}

.checkBoxLabel {
  font-size: 1.2rem;
  margin-left: 1.2rem;
}
